{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-3">Welcome to Marco Bassaletti Blog</h1>
        <h3 class="text-left">Latest Posts</h3>
        <hr/>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mx-2 my-2" style="width: 18rem;">
                        <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="{{ post.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="text-muted">{{ post.pub_date_pretty }}</p>
                            <p class="card-text text-justify">
                                {{ post.summary }}
                            </p>
                            <a href="#" class="btn btn-primary">Read full story</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
